html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffff14;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  background-color: rgb(159, 77, 23);
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin-top: 8rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/cry.gif');
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

.button_container {
  padding-top: 8rem;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
  transform: none;
}

@media screen and (max-width: 1000px) {
  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
